* {
  margin: 0;
  padding: none;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-primary: #812181;
}

.bg_gris {
  background-color: #e4e4e8;
}

.bg_black {
  background-color: #000;
  width: auto;
}

.contenedor {
  max-width: 1600px;
  margin: 0 auto;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
}

.nav__list {
  display: flex;
  gap: 4rem;
  list-style: none;
  align-items: center;
}

.nav__item {
  padding: 20px;
}

.nav__link {
  color: black;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 900;
  text-transform: uppercase;
}

.nav__link--secundario {
  background-color: #000;
  color: #fff;
  padding: 12px 26px;
}

.nav__boton {
  background-color: transparent;
  border: none;
  font-size: 34px;
  font-weight: 700;
}
.botonn {
  background: #812181;
  padding: 12px 24px;
  color: #f2f2f2;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
}
.botonn--blanco {
  background-color: #f1f1f1;
  color: #000;
}

#inicio {
  /* background-image: url("saludo.png"); 
 background-repeat: no-repeat;
 background-size: calc(100%);
 height: calc(100vh - var(--header)); */
  /* background-color: grey; */
}

.slider {
  height: calc(100vh - var(--header));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slider__contender {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.slider__iformacion {
  flex: 1;
  max-width: 620px;
  margin: 0 20px;
}

.slider__imagen {
}

.slider__img {
  max-width: 720px;
}

.slider__titulo {
  font-size: 6rem;
  padding-bottom: 30px;
}

.titulo__flaco {
  font-weight: lighter;
  font-size: 2rem;
}
.slider__parrafo {
  line-height: 1.8;
  color: #1c1c1c;
  padding-top: 30px;
}

.slider__botones {
  display: flex;
  gap: 1rem;
  padding-top: 30px;
}

.slider__accion {
  display: flex;
  justify-content: space-between;
}

.accion__flecha {
  background-color: transparent;
  color: #000;
  border: none;
  padding: 12px 26px;
  cursor: pointer;
  font-size: 3rem;
}

.botonn {
  background: #812181;
  padding: 12px 24px;
  color: #f2f2f2;
  text-decoration: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
}
.botonn--blanco {
  background-color: #f1f1f1;
  color: #000;
}

/* banner */

.llamado {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 30px 0px;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  text-transform: capitalize;
}

.llamado_fecha {
  border: solid 1px white;
  padding: 20px;
  text-align: center;
}

/* -------------------exploret--------------------------- */

.gris {
  height: 100vh;
}

.exploret {
  display: grid;
  gap: 3rem;
  grid-template:
    "uno dos tres "
    "cuatro dos seis "
    "siete ocho nueve" 150px / 300px auto 300px;
}

.text {
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 20px;
  text-transform: capitalize;
}

.uno {
  grid-area: uno;
}

.dos {
  grid-area: dos;
}

.grafico {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.flecha {
  background-color: transparent;
  border: none;
  font-size: 42px;
}

.imagen {
  width: 600px;
}

.tres {
  grid-area: tres;
}

.cuatro {
  grid-area: cuatro;
  display: flex;
  rotate: -90deg;
  justify-content: center;
  align-items: start;
  font-weight: 700;
  padding-top: 10px;
}

.cinco {
  grid-area: cinco;
}

.seis {
  grid-area: seis;
  display: flex;
  rotate: 90deg;
  justify-content: center;
  align-items: start;
  font-weight: 700;
}

.siete {
  grid-area: siete;
  justify-content: start;
  font-weight: 700;
}

.ocho {
  grid-area: ocho;
}

.nueve {
  grid-area: nueve;
  justify-content: end;
  font-weight: 700;
  padding-bottom: 8px;
}

/* cards */
.contenedor_card {
  display: flex;
  gap: 6rem;
  padding: 90px 0px;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  width: 330px;
  flex-direction: column;
  border: solid 1px rgb(172, 172, 172);
  padding: 22px;
  text-align: center;
  gap: 2rem;
  border-radius: 25px;
  box-shadow: 0 0px 10px 0px #d9d9d9;
}

.card__title {
  text-align: center;
  font-size: 3rem;
  padding: 4px 0;
}

.card__text {
  text-align: center;
}

.card--border {
  border: solid 1px var(--color-primary);
}

/* ---------------------------trabajo------------------------ */

.contenedor__work {
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  /* gap: 300px; */
  /* display: grid;
  grid-template-columns: 50% 50%; */

  display: grid;
  gap: 2rem;
  grid-template:
    "one two three" 100px
    "one two four" auto / 600px auto 600px;
}

.work__text {
  grid-area: one;
}

.work__text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}

.work__boton {
  width: fit-content;
}

.work__titulo {
  font-weight: 800;
  font-size: 54px;
  display: flex;
  align-items: baseline;
}

.work__titulo--2 {
  font-weight: 300;
  font-size: 20px;
  padding-left: 10px;
}

.work__parrafo {
  font-weight: 700;
}

.work__items {
  display: flex;
  flex-direction: row;
}

.word__medio {
  grid-area: two;
  display: flex;
  justify-content: flex-end;

  /* height: 0px; */
  flex-direction: column;
}

.medio__text {
  rotate: 90deg;
}

.word__arriba {
  grid-area: three;
  display: flex;
  justify-content: end;
  align-items: start;
}

.work__imagen {
  grid-area: four;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen__word {
  height: auto;
  width: auto;
}

/* --------------------negritoo------------------------ */

/* .negrito__fondo {
  background-image: url(hombre-sombrero-ropa-elegante-moviendose-sobre-fondo-naranja_197531-26971-removebg-preview.png);
} */

.negrito {
  background-image: url(icono-durazno-pieza-naranja-caricatura-icono-vector-durazno-pieza-naranja-diseno-web-aislado-sobre-fondo-blanco_98402-27253-removebg-preview.png);
}

.contenedor__negrito {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.imagen__texto {
  display: flex;
  align-items: end;
}

.negrito__imagen {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.imagen__texto {
  rotate: -90deg;
}

.negrito__texto {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
}

.negrito__titulo {
  font-size: 70px;
  font-weight: 800;
}

.negrito__boton {
  width: fit-content;
}

/* -------------------------------------------magenta------------------------------------------- */

.magenta__fondo {
  background-color: rgb(146, 80, 167);
}

.contenedor__magenta {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  color: white;
  justify-content: space-around;
}

.magenta__imagen {
  opacity: 0.3;
}

.magenta__titulo {
  font-size: 50px;
}

.magenta__texto {
  font-size: 30px;
  font-weight: 100;
}

.magenta__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.magenta__boton {
  background-color: #000;
  width: fit-content;
}

.magenta__flecha {
  align-self: flex-end;
  padding-bottom: 40px;
}

.magenta__icono {
  color: white;
  border: solid 1px white;
  padding: 15px 35px;
  width: 30px;
}
